
*{
	font-family: '微软雅黑';
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	color: #000;
	font-size: 16px;
}

a {
	text-decoration: none
}

body {
	background: #fff;
}

.header-bg {
	position: absolute;
	z-index: -999;
	width: 100%;
	height: 394px;
	repeat: x-repeat;
	background-image: url(../images/free-bg.png);
	box-shadow: 0px 0px 160px #e0e3ec;
}

.navier {
	height: 60px;width: 100%;
}

.navier-bg{
	width:100%;height:60px;background:#000;opacity:0.5;position: absolute;
	z-index: -9;
}

.navier ul li {
	float: left;
	position: relative
}

.navier ul li>a {
	display: block;
	line-height: 20px;
	padding: 5px 20px;
	margin-top: 15px;
	color: #ddd;
}

.navier ul li a:hover {
	color: #fff;
	text-shadow: 0px 20px 50px #000
}

.navier ul li a span {
	color: #fff
}

.list li .down {

}

.username {
	font-size:24sp
}

.list li .down {
	min-width: 150px;
	background: #fff;
	position: absolute;
	top: 50px;
	left: 0;
	display: none;
	z-index: 3
}

.list li .down a:hover {
	background: #f0f0f0;
	display: block;
}

.list li .down a {
	display: block;
	line-height: 50px;
	color: #000;
	padding-left: 30px;
	padding-right: 30px;
}

img.header {
	width: 40px;
	height: 40px;
	position: relative;
	top: 10px;
	margin-left: 30px
}

img.header:hover {
	box-shadow: 0px 20px 50px #aaa;
	cursor: pointer;
	position: relative;
	top: 15px
}

.main {
	width: 960px;
	height: 391px;
	margin: 0px auto;
	background-size: cover;
}

.main_backgound {
	width: 960px;
	height: 391px;
	position: absolute
}

.main_navier {
	width: 220px;
	height: 391px;
	background: rgba(0, 0, 0, 0.4);
	float: left;
	position: absolute
}

.main_navier ul li {
	height: 55px;
	width: 200px;
	padding: 0 10px
}

.main_navier ul li:hover {
	background: rgba(0, 0, 0, 0.5);
}

.main_navier ul li a {
	display: block;
	line-height: 55px;
	color: #fff
}

.main_navier ul li a span {
	float: right;
	color: #fff;
}

.main_navier hr {
	margin-left: 10px;
	border: none;
	border-top: 1px solid #727996;
	margin-right: 10px
}

.bodyer {
	width: 960px;
	height: 520px;
	margin: 20px auto;
}

.card_view {
	width: 100%;
	height: 250px;
	margin-bottom: 20px;
}

.card_view p{
	width: 100%;
	height: 70px;
	color: #000;
	line-height: 70px;
	font-size: 16px
}

.single_card {
	width: 225px;
	height: 140px;
	background: #f1f4f5;
	float: left;
	box-shadow: 0px 20px 50px #e0e3ec;
	text-align: center;
	color: #000;
	line-height: 140px;
	border-radius:10px;
}

.single_card_margin {
	margin-left: 20px;
}

.single_card:hover {
	box-shadow: 0px 0px 20px #ccc;
	position: relative;
	top: 5px
}

.content_boss {
	width: 100%;
	height: 580px;
	background: #f1f4f5;
	padding: 10px 0px;
}

.content_boss_content {
	width: 960px;
	height: 530px;
	margin: 0px auto;
	padding-top: 50px
}

.content_boss_content .title {
	font-size: 25px;
	color: #1296db
}

.content_boss_content .img_head {
	width: 25px;
	height: 25px;
	margin-right: 5px;
	position: relative;
	top: 4px
}

.study_web {
	width: 100%;
	height: 360px;
	margin-top: 40px;
}

.study_web_item {
	float: left;
	width: 130px;
	height: 260px;
	background: #fff;
	padding: 40px;
	margin-right: 30px;
	box-shadow: 0px 20px 50px #e0e3ec;
}

.study_web_item:hover {
	box-shadow: 0px 0px 20px #ccc;
	position: relative;
	top: 5px
}

.study_web_item .title {
	font-size: 22px;
	line-height: 50px;
	display: block;
	text-align: center;
	color: #2277e6
}

.study_web_item ul li {
	width: 140px;
	height: 50px;
	line-height: 50px
}

.study_web_item ul li a {
	display: block;
	text-align: center;
	color: #8b8b8b
}

.study_web_item ul li a:hover {
	color: #2277e6
}

div.adv {
	width: 100%;
	height: 550px;
	background-image: url(../images/free-bg.png);
	background-size: cover;
	background-attachment: fixed;
}

div.adv div.adv_main {
	width: 960px;
	height: 450px;
	margin: 0 auto;
	padding-top: 100px;
	color: #fff
}

div.adv div.adv_main .title {
	font-size: 30px;
	color: #fff
}

div.adv div.adv_main .content {
	font-size: 18px;
	color: #fff
}

div.adv div.adv_main .register a {
	font-size: 16px;
	padding: 6px 20px;
	margin-left: 25px;
	border: 1px solid #fff;
	border-radius: 3px;
	cursor: pointer;
	color: #fff
}

div.adv div.adv_main .register a:hover {
	background: #fff;
	color: #525970;
}

.adv_main_block li {
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 30px;
	background: rgba(255, 255, 255, 0.3);
	padding: 25px;
	border-radius: 200px
}

.adv_main_div {
	width: 100%;
	height: 150px
}

.adv_main_block li:hover {
	background: rgba(255, 255, 255, 0.5);
	cursor: pointer
}

.adv_main_block li a {
	display: block;
	width: 100px;
	height: 100px;
	color: #fff;
	text-align: center;
	line-height: 100px
}

.adv_main_block li a img {
	width: 70px;
	height: 70px;
	margin-top: 15px
}

.chengxuyuannote {
	margin-left: 400px;
}

.footer {
	width: 960px;
	height: 40px;
	line-height: 40px;
	background: #d0d0d0;
	padding-left: 20px;
	margin:0px auto;
}